.row
  .col-10
    %nav{'aria-label': 'breadcrumb'}
      %ol.breadcrumb
        %li.breadcrumb-item.active Imports
  .col
    %ul.nav.justify-content-end
      %li
        %a.nav-link.btn.btn-light{href: '/collection/import'} New

%table.table
  %tr
    %th Title
    %th Date
    %th Actions
  - imports.each do |import|
    %tr
      %td
        %a{href: "/collection/imports/#{import[:id]}"}= import[:title]
        - count_badge(import[:user_printing_count])
      %td= import[:created_at]
      %td
        - delete_form(action: "/collection/imports/#{import[:id]}") do
          - delete_button
