.row
  .col-7
    %nav{'aria-label': 'breadcrumb'}
      %ol.breadcrumb
        %li.breadcrumb-item
          %a{href: '/decks'} Decks
        %li.breadcrumb-item.active= deck[:name]
  .col
    %ul.nav.justify-content-end
      %li.nav-item.mr-1
        %a.nav-link.btn.btn-light{href: "/decks/#{deck[:id]}/list"}
          Card list

= partial('decks/_card_list',
  with_count: true,
  rated_decks: rated_decks,
  deck: deck,
  cards: cards)
